node_modules
**/node_modules
npm-debug.log
dist
**/dist
.env
.env.local
.env.*.local
.git
.gitignore
.vscode
.idea
coverage
.DS_Store
*.log
.turbo
**/.turbo
apps/web/node_modules
apps/web/dist
apps/web/.next

